@use 'template' as t;

.field{
    width: 1000px;
    height: 600px;
    margin-inline: auto;
    margin-block: 15vh;
    background-color: #000;
    position: relative;
    z-index: 1;

    &_enemy{
        width: 100%;
        height: 50%;
        background-color: #f00;
        position: relative;
        z-index: 2;

        &_hero{
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);

            &_wrap{
                position: relative;
                width: 150px;
                height: 150px;
                background-color: #000;
            }

            &_hp{
                position: absolute;
                bottom: -30px;
                right: -25px;
                p{
                    color: #fff;
                    font-size: 60px;
                }
            }
        }

        &_mana{
            position: absolute;
            bottom: 0%;
            left: 0%;
            z-index: 5;
            display: flex;
            gap: 8px;
            padding: 10px;

            span{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #ccc; 
                transition: background-color 0.3s ease;
            }

        }

        &_battle{
            background-color: #c9c9c9;
            padding: 20px;
            position: absolute;
            bottom: -10%;
            right: 50%;
            transform: translate(50%, -50%);
            max-width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        &_hand{
            position: absolute;
            top: -50%;
            left: -5%;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(5, 1fr);
            padding: 20px;
            background-color: #d38787;
        }

        &_timer{
            position: absolute;
            top: 60%;
            right: 5%;
            background-color: green;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: #fff;
                font-size: 40px;
            }
        }

        &_status{
            position: absolute;
            right: 0%;
            top: 0%;
            background-color: #6e6e6e;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding: 10px;

            p{
                color: #fff;
                font-size: 20px;
            }
        }
    }

    &_player{
        width: 100%;
        height: 50%;
        background-color: #00f;
        position: relative;
        z-index: 2;

        &_hero{
            width: 150px;
            height: 150px;
            background-color: #000;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 50%);

            &_wrap{
                position: relative;
                width: 150px;
                height: 150px;
                background-color: #000;
            }

            &_hp{
                position: absolute;
                top: -30px;
                left: -25px;
                p{
                    color: #fff;
                    font-size: 60px;
                }
            }
        }

        &_mana{
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 5;
            display: flex;
            gap: 8px;
            padding: 10px;

            span{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #ccc;
                transition: background-color 0.3s ease;
            }

        }

        &_battle{
            background-color: #c9c9c9;
            padding: 20px;
            position: absolute;
            top: 35%;
            right: 50%;
            transform: translate(50%, -50%);
            max-width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        &_hand{
            position: absolute;
            bottom: -50%;
            right: -5%;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(5, 1fr);
            padding: 20px;
            background-color: #d38787;
        }

        &_timer{
            position: absolute;
            bottom: 60%;
            right: 5%;
            background-color: green;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: #fff;
                font-size: 40px;
            }
        }

        &_status{
            position: absolute;
            left: 0%;
            bottom: 0%;
            background-color: #6e6e6e;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding: 10px;

            p{
                color: #fff;
                font-size: 20px;
            }
        }
    }

    &_turn{
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
        z-index: 5;
        button{
            width: 150px;
            height: 50px;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            font-size: 1.5rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover{
                background-color: #ccc;
            }
        }

    }

    
}

span.mana-slot.available { background-color: #0f0; }
span.mana-slot.used { background-color: #555; }


.card{
    width: 70px;
    height: 100px;
    background-color: aquamarine;
    border: solid 1px #000;
    position: relative;

    &_hp{
        background-color: green;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        text-align: center;
    }
    &_attack{
        background-color: red;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}