name: Prewarm Image Cache

on:
  push:
    branches:
      - main

jobs:
  prewarm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Get latest deployment URL
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          DEPLOY_URL=$(vercel ls game-two-nu-39 --token $VERCEL_TOKEN --scope bst-shinkawas-projects --json | jq -r '.[0].url')
          echo "DEPLOY_URL=https://$DEPLOY_URL" >> $GITHUB_ENV

      - name: Call Prewarm API
        run: |
          curl -X GET "$DEPLOY_URL/api/Image-Cash-Clear"